<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="profile-photo-wrap">
      <img class="profile-photo" src="{{ '/public/img/profile.png' | relative_url }}" alt="Jaehyeon Nam portrait">
    </div>

    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">Jaehyeon Nam</p>
      <p class="sidebar-summary">Former CS Assistant, Samsung Electronics Service</p>
    </div>
  </div>
</div>
